doctype html
html
    head
        style
            include styles.css
    body
        div
            block information
        div.footer
            | doing this task at 3 am in the morning, arrrr!
            br
            | gosleep()
