doctype html
html
    head
        style
            include styles.css
    body
        div
            block information
        div.footer
            | You can view our products on:
            br
            a(href="https://rozetka.com.ua/")
