extends template
block information
    div
        span.welcomeWord
        | Welcome #{userName}!
        br
        | We have just received your registration information and are glad to have You with us.
        br
        |enjoy!
